// Typography
$text_color = #333
$secondary_text = #999
$link_color = #333
$font_family = Helvetica, Arial, sans-serif
$font_size = 62.5% 

// Colors
$dark_gray = #bbb
$gray = #ddd
$pale_gray = #e5e5e5

$border = 1px solid #ddd

//Mixins
$pale_gradient()
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, #fff), color-stop(0, $pale_gray))
  background-image: -moz-linear-gradient(center bottom, $pale_gray 0%, #fff 100%)
